.git
.github
node_modules
vendor
*.log

# Laravel
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/bootstrap/cache/*

# Не тянем .env в образ никогда
src/.env
src/.env.*
!src/.env.example